{
  debug
}

portainer.giacomorossi.dev:80 {
  encode zstd gzip

  header {
    -Server
    Cache-Control "no-store"
  }

  reverse_proxy https://portainer:9443 {
    transport http {
      tls_insecure_skip_verify
    }
  }

}

mediaserver.giacomorossi.dev:80 {
  encode zstd gzip

  header {
    -Server
    Cache-Control "no-store"
  }

  # JELLYFIN
  handle_path /jellyfin* {
    reverse_proxy jellyfin:8096
  }
  redir /jellyfin /jellyfin/ 308

  # QBITTORRENT
  handle_path /qbittorrent* {
    reverse_proxy qbittorrent:8080
  }
  redir /qbittorrent /qbittorrent/ 308

  # PROWLARR
  handle /prowlarr* {
    reverse_proxy prowlarr:9696 {
      header_up X-Forwarded-Proto "https"
      header_up X-Forwarded-Host  "{host}"
      header_up X-Forwarded-Prefix "/prowlarr"
    }
  }
  redir /prowlarr /prowlarr/ 308

  # JACKETT
  handle_path /jackett* {
    reverse_proxy jackett:9117 {
      header_up X-Forwarded-Proto "https"
      header_up X-Forwarded-Host  "{host}"
      header_up X-Forwarded-Prefix "/jackett"
    }
  }
  redir /jackett /jackett/ 308

  # MEDIASERVER DASHBOARD
  handle {
    root * /usr/share/caddy/mediaserver/dashboard
    file_server
  }
}
