{
  debug
}

portainer.giacomorossi.dev:80 {
  encode zstd gzip

  header {
    -Server
    Cache-Control "no-store"
  }

  reverse_proxy https://portainer:9443 {
    transport http {
      tls_insecure_skip_verify
    }
  }

}

mediaserver.giacomorossi.dev:80 {
  encode zstd gzip

  header {
    -Server
    Cache-Control "no-store"
  }

  # --- Jellyfin su /jellyfin (HTTP interno 8096)
  handle_path /jellyfin* {
    reverse_proxy jellyfin:8096
  }

  # (opzionale) aggiungi la slash finale
  redir /jellyfin /jellyfin/ 308

  # --- Default: dashboard statico
  handle {
    root * /usr/share/caddy/dashboard
    file_server
  }
}
